.headerRow{
    margin-top: 2rem;
    margin-left: 6rem;
    margin-right: 8rem;
}

.searchDiv{
    background: #fff;
    border-radius: 0.75rem;
    padding: 0.5rem;
    width: 65%;
}

.searchInput{
    outline: none;
    border: none;
    border-radius: 0.75rem;
    padding-left: 2.5rem;
}

.searchBtn{
    background: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
}

.searchIcon{
    color: #F15D23;
    font-size: 1.8rem!important;
}

.avatar{
    border: 2px solid #F15D23;
}